<div>
  <h3>
    <p>
     <strong>Start time:</strong>
     <%= shift.start_time %>
    </p>
  
    <p>
     <strong>End TIme:</strong>
     <%= shift.end_time %>
    </p>

    <p>
     <strong>Employee:</strong>
     <%= shift.employee.name %>
    </p>
   
    <p>
     <strong>Employee_Role:</strong>
     <%= shift.employee.role %>
    </p>
 </h3>
</div>
